@scope (.sct-separator) {
  :scope {
    flex-shrink: 0;
    background-color: var(--sct-color-border);
  }

  :scope[data-orientation="horizontal"] {
    height: var(--sct-border-width-1);
    width: 100%;
  }

  :scope[data-orientation="vertical"] {
    width: var(--sct-border-width-1);
    height: 100%;
  }
}
