@scope (.sct-radio-group) {
  :scope {
    display: flex;
    flex-direction: column;
    gap: var(--sct-space-2);
  }

  :scope[data-orientation="horizontal"] {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@scope (.sct-radio-group-item) {
  :scope {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    flex-shrink: 0;
    border: var(--sct-border-width-1) solid var(--sct-color-border);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  :scope[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .sct-radio-group-indicator {
    display: none;
  }

  :scope[data-checked] .sct-radio-group-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sct-radio-group-indicator-icon {
    display: block;
    width: var(--sct-space-2);
    height: var(--sct-space-2);
    border-radius: 50%;
    background-color: currentColor;
  }
}
