@scope (.sct-popover-content) {
  :scope {
    z-index: 50;
    width: 18rem;
    background-color: var(--sct-color-background);
    border: var(--sct-border-width-1) solid var(--sct-color-border);
    border-radius: var(--sct-radius-lg);
    padding: var(--sct-space-4);
    box-shadow: var(--sct-shadow-lg);
    outline: none;
    transition:
      opacity 200ms,
      transform 200ms;
  }

  @starting-style {
    :scope {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  :scope[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}
