@scope (.sct-radio) {
  :scope {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--sct-space-4);
    height: var(--sct-space-4);
    flex-shrink: 0;
    border-radius: var(--sct-radius-full);
    border: var(--sct-border-width-1) solid var(--sct-color-input);
    background-color: transparent;
    box-shadow: var(--sct-shadow-xs);
    transition:
      box-shadow 150ms,
      border-color 150ms;
    outline: none;
    cursor: pointer;
    padding: 0;
    appearance: none;
  }

  :scope:focus-visible {
    border-color: var(--sct-color-ring);
    box-shadow: 0 0 0 3px
      color-mix(in srgb, var(--sct-color-ring) 50%, transparent);
  }

  :scope[data-checked] {
    border-color: var(--sct-color-primary);
  }

  :scope[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .sct-radio-indicator {
    display: block;
    width: var(--sct-space-2);
    height: var(--sct-space-2);
    border-radius: var(--sct-radius-full);
    background-color: var(--sct-color-primary);
    opacity: 0;
    transition: opacity 100ms;
  }

  :scope[data-checked] .sct-radio-indicator {
    opacity: 1;
  }
}
