.sct-table-wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

@scope (.sct-table) {
  :scope {
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    font-size: var(--sct-font-size-sm);
  }

  .sct-table-header {
    border-bottom: var(--sct-border-width-1) solid var(--sct-color-border);
  }

  .sct-table-header .sct-table-row:hover {
    background-color: transparent;
  }

  .sct-table-body .sct-table-row:last-child {
    border-bottom: none;
  }

  .sct-table-footer {
    border-top: var(--sct-border-width-1) solid var(--sct-color-border);
    background-color: var(--sct-color-muted);
    font-weight: var(--sct-font-weight-medium);
  }

  .sct-table-row {
    border-bottom: var(--sct-border-width-1) solid var(--sct-color-border);
    transition: background-color 150ms;
  }

  .sct-table-row:hover {
    background-color: var(--sct-color-muted);
  }

  .sct-table-head {
    height: var(--sct-space-10);
    padding-inline: var(--sct-space-4);
    text-align: left;
    vertical-align: middle;
    font-weight: var(--sct-font-weight-medium);
    color: var(--sct-color-muted-foreground);
  }

  .sct-table-cell {
    padding: var(--sct-space-3) var(--sct-space-4);
    vertical-align: middle;
  }

  .sct-table-caption {
    margin-top: var(--sct-space-4);
    font-size: var(--sct-font-size-sm);
    color: var(--sct-color-muted-foreground);
  }
}
