@scope (.sct-slider) {
  :scope {
    position: relative;
    display: flex;
    width: 100%;
    touch-action: none;
    user-select: none;
  }

  .sct-slider-control {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--sct-space-5);
  }

  .sct-slider-track {
    position: relative;
    width: 100%;
    height: var(--sct-space-1);
    border-radius: var(--sct-radius-full);
    background-color: var(--sct-color-muted);
    overflow: hidden;
  }

  .sct-slider-range {
    position: absolute;
    height: 100%;
    background-color: var(--sct-color-primary);
  }

  .sct-slider-thumb {
    display: block;
    width: var(--sct-space-5);
    height: var(--sct-space-5);
    border-radius: var(--sct-radius-full);
    border: var(--sct-border-width-2) solid var(--sct-color-primary);
    background-color: var(--sct-color-background);
    box-shadow: var(--sct-shadow-xs);
    cursor: pointer;
    outline: none;
    transition:
      box-shadow 150ms,
      border-color 150ms;
  }

  .sct-slider-thumb:hover {
    border-color: color-mix(in srgb, var(--sct-color-primary) 80%, transparent);
  }

  .sct-slider-thumb:focus-visible {
    box-shadow: 0 0 0 3px
      color-mix(in srgb, var(--sct-color-ring) 50%, transparent);
  }

  .sct-slider-thumb[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}
